@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.hidden {
  position: absolute;
  top: -5000px;
  opacity: 0;
  z-index: -500;
}

body {
  overflow-x: hidden;
}

header {
  border-top: 5px solid rgb(10, 153, 117);
  width: 100vw;
  padding-top: 50px;
}
header .inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  position: relative;
  top: -20px;
  text-align: center;
}
header .inner h1 a {
  color: #000;
}
header .inner nav {
  position: absolute;
  right: 0px;
  top: 0px;
}
header .inner nav ul {
  display: flex;
}
header .inner nav ul li {
  width: 75px;
  display: flex;
  justify-content: space-around;
}
header .inner nav ul li:nth-of-type(1) {
  position: relative;
}
header .inner nav ul li:nth-of-type(1)::after {
  position: absolute;
  top: 17px;
  right: 0;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}
header .inner nav ul li a {
  color: #777;
  font: 12px/40px Poppins;
}
header .inner .gnb {
  position: relative;
  z-index: 7;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .inner .gnb > li {
  width: 16.6666666667%;
  height: 40px;
  text-align: center;
  position: relative;
}
header .inner .gnb > li::before {
  display: block;
  content: "";
  opacity: 0;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 15px;
  height: 8px;
  background-color: rgb(10, 153, 72);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}
header .inner .gnb > li a {
  color: #000;
  font: bold 18px/40px Poppins;
  transition: color 0.3s;
}
header .inner .gnb > li:hover::before {
  opacity: 1;
}
header .inner .gnb > li:hover a {
  color: rgb(10, 153, 72);
}
header .inner .gnb > li .sub {
  position: relative;
  padding-top: 10px;
}
header .inner .gnb > li .sub li {
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
header .inner .gnb > li .sub li a {
  color: #777;
  font: 14px/40px Poppins;
  transition: all 0.5s;
  overflow: hidden;
}
header .inner .gnb > li .sub li:hover a {
  color: rgb(10, 153, 72);
}
header .inner .moBtn {
  display: none;
}
header .inner .moGnb {
  display: none;
}
header .subBg {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 0px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  transition: height 0.3s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  width: 100vw;
  height: 80px;
  background-color: rgb(3, 43, 33);
}
footer .inner {
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .inner .footerMenu ul {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 15px;
}
footer .inner .footerMenu ul li {
  color: #bbb;
  font: 11px/1 "맑은 고딕";
}
footer .inner .footerMenu ul li:nth-of-type(1) {
  padding-right: 18px;
  border-right: 1px solid #bbb;
}
footer .inner .footerMenu2 ul {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .inner .footerMenu2 ul li {
  color: #bbb;
  font: 11px/1 "맑은 고딕";
}

#visual {
  width: 100vw;
  margin-bottom: 50px;
  overflow: hidden;
}
#visual .frame {
  position: relative;
  width: 300%;
  overflow: hidden;
}
#visual .frame .slide {
  width: 100%;
  display: flex;
  overflow: hidden;
}
#visual .frame .slide > li {
  width: 100%;
  transition: 0.5s;
}
#visual .frame .slide > li img {
  width: 100%;
  object-fit: cover;
}
#visual .frame .slideBtn {
  position: relative;
  bottom: 50px;
  left: 25%;
  display: flex;
}
#visual .frame .slideBtn > li {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s;
  cursor: pointer;
}
#visual .frame .slideBtn > li.on {
  background-color: rgb(255, 208, 0);
  width: 34px;
}

#best {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
}
#best h3 {
  display: block;
  width: 180px;
  height: 90px;
  font: bold 18px/2.4 Poppins;
  color: #fff;
  background-color: rgb(10, 153, 117);
  border-radius: 45px 45px 0px 45px;
}
#best .inner {
  width: 100%;
}
#best .inner > ul {
  padding-top: 20px;
}
#best .inner > ul > li {
  display: inline-block;
  width: 160px;
  height: 220px;
  background-color: #fff;
  border: 2px solid rgb(10, 153, 117);
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
#best .inner > ul > li img {
  margin-top: 20px;
  width: 120px;
  transition: 0.5s;
}
#best .inner > ul > li h4 {
  margin-top: 20px;
  font: bold 14px/1 Poppins;
  color: #888;
  transition: 0.25s;
}
#best .inner > ul > li:hover img {
  transform: scale(1.05);
}
#best .inner > ul > li:hover h4 {
  color: #111;
}

#content {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 50px;
}
#content .inner {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#content .inner .conBox1 {
  display: flex;
  gap: 20px;
}
#content .inner .conBox1 .con1 {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(79, 189, 156);
  border-radius: 80px 0 0 0;
  overflow: hidden;
}
#content .inner .conBox1 .con1 .con1Img {
  padding: 10px;
}
#content .inner .conBox1 .con1 .con1Img img {
  width: 340px;
  opacity: 0.9;
}
#content .inner .conBox1 .con1 .con1Text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#content .inner .conBox1 .con1 .con1Text h3 {
  font: 30px/1 Poppins;
  color: #eee;
}
#content .inner .conBox1 .con1 .con1Text a {
  width: 150px;
  height: 50px;
  text-align: center;
  font: bold 20px/50px Poppins;
  color: #eee;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
#content .inner .conBox1 .con1 .con1Text a:hover {
  background-color: #fff;
  color: rgb(79, 189, 156);
}
#content .inner .conBox1 .con1 .con1Text img {
  position: absolute;
  opacity: 0.4;
  width: 200px;
  bottom: 0;
  left: 0;
  transform: rotate(150deg);
  z-index: 1;
}
#content .inner .conBox1 .con2 {
  width: 300px;
  height: 300px;
  background-color: rgb(253, 227, 108);
  border-radius: 0 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#content .inner .conBox1 .con2 img {
  width: 150px;
  opacity: 0.7;
  position: absolute;
  right: 0;
}
#content .inner .conBox1 .con2 h3 {
  font: 50px/1 Poppins;
  color: #fff;
}
#content .inner .conBox1 .con2 a {
  width: 150px;
  height: 50px;
  text-align: center;
  font: bold 20px/50px Poppins;
  color: #eee;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: 0.3s;
}
#content .inner .conBox1 .con2 a:hover {
  background-color: #fff;
  color: rgb(255, 208, 0);
}
#content .inner .conBox2 {
  display: flex;
  gap: 20px;
}
#content .inner .conBox2 .con3 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 201, 99);
  border-radius: 0 0 0 80px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#content .inner .conBox2 .con3 h3 {
  font: bold 18px/1 Poppins;
  color: #fff;
}
#content .inner .conBox2 .con3 ul {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}
#content .inner .conBox2 .con3 ul li img {
  filter: grayscale(0.7);
  transition: 0.3s;
}
#content .inner .conBox2 .con3 ul li:hover img {
  filter: grayscale(0);
}
#content .inner .conBox2 .con3 > img {
  position: absolute;
  z-index: 1;
  width: 280px;
  opacity: 0.3;
  left: -50px;
  bottom: -80px;
}
#content .inner .conBox2 .con4 {
  width: 700px;
  height: 300px;
  overflow: hidden;
  background-color: rgb(236, 213, 238);
  border-radius: 0 0 80px 0;
}
#content .inner .conBox2 .con4 .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#content .inner .conBox2 .con4 .inner h3 {
  font: bold 30px/1 Poppins;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 3;
  opacity: 0.7;
}
#content .inner .conBox2 .con4 .inner img {
  position: absolute;
}
#content .inner .conBox2 .con4 .inner img:nth-of-type(1) {
  width: 150px;
  left: 40px;
  bottom: -15px;
}
#content .inner .conBox2 .con4 .inner img:nth-of-type(2) {
  width: 250px;
  bottom: -10px;
  right: 30px;
  z-index: 2;
}
#content .inner .conBox2 .con4 .inner img:nth-of-type(3) {
  width: 140px;
  top: 10px;
  left: 140px;
}
#content .inner .conBox2 .con4 .inner img:nth-of-type(4) {
  width: 160px;
  top: 10px;
  right: 200px;
}
#content .inner .conBox2 .con4 .inner img:nth-of-type(5) {
  width: 200px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#logInPage {
  width: 100vw;
  background-color: #eee;
  padding: 100px;
}
#logInPage .inner {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  padding: 50px 20px 50px 20px;
}
#logInPage .inner h3 {
  font: bold 30px/1 Poppins;
}
#logInPage .inner p {
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 250px;
  font: 13px/1.2 Poppins;
}
#logInPage .inner #logIn {
  width: 70%;
  margin: 0 auto;
}
#logInPage .inner #logIn .textBox {
  margin: 0 auto;
  border: 1px solid #ddd;
}
#logInPage .inner #logIn .textBox label {
  display: flex;
  height: 70px;
  justify-content: start;
}
#logInPage .inner #logIn .textBox label:nth-of-type(1) {
  border-bottom: 1px solid #ddd;
}
#logInPage .inner #logIn .textBox label span {
  width: 35%;
  height: 70px;
  font: bold 18px/70px Poppins;
  color: #555;
  white-space: nowrap;
}
#logInPage .inner #logIn .textBox label input {
  padding-left: 10px;
  width: 65%;
  border: none;
  font: 14px/70px Poppins;
}
#logInPage .inner #logIn .idSave {
  text-align: left;
  margin-top: 20px;
  height: 30px;
  display: flex;
}
#logInPage .inner #logIn .idSave input {
  display: none;
}
#logInPage .inner #logIn .idSave input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#logInPage .inner #logIn .idSave input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#logInPage .inner #logIn .idSave input + label i {
  display: none;
}
#logInPage .inner #logIn .idSave input + label strong {
  margin-left: 10px;
  font: 14px/1 Poppins;
  color: #444;
}
#logInPage .inner #logIn .idSave input:checked + label {
  position: relative;
}
#logInPage .inner #logIn .idSave input:checked + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#logInPage .inner #logIn .idSave input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 2px;
  font-size: 30px;
  color: rgb(10, 153, 117);
}
#logInPage .inner #logIn #btnIn {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background-color: rgb(79, 189, 156);
  height: 50px;
  font: bold 16px/1 Poppins;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#logInPage .inner #logIn #btnIn:hover {
  background-color: rgb(10, 153, 117);
}
#logInPage .inner .logInMenu {
  width: 70%;
  margin: 0 auto;
}
#logInPage .inner .logInMenu ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#logInPage .inner .logInMenu ul li {
  text-align: center;
  width: 33%;
  border-right: 1px solid #ddd;
}
#logInPage .inner .logInMenu ul li a {
  font: 13px/1 Poppins;
  color: #555;
}
#logInPage .inner .logInMenu ul li:nth-of-type(3) {
  border: none;
}

#agreementPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#agreementPage h3 {
  font: bold 30px/1 Poppins;
  color: #444;
}
#agreementPage .step {
  margin: 50px 0 50px 0;
}
#agreementPage .step ul {
  display: flex;
  justify-content: center;
}
#agreementPage .step ul li {
  margin-right: 100px;
}
#agreementPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#agreementPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#agreementPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#agreementPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#agreementPage .step ul li.on i {
  color: rgb(79, 189, 156);
}
#agreementPage .step ul li.on::before {
  background-color: rgb(79, 189, 156);
}
#agreementPage .inner {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#agreementPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: darkcyan;
  font: bold 20px/50px Poppins;
  color: #fff;
}
#agreementPage .inner #agreement {
  margin: 50px;
  text-align: left;
}
#agreementPage .inner #agreement .allAgree input {
  display: none;
}
#agreementPage .inner #agreement .allAgree input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .allAgree input + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .allAgree input + label i {
  display: none;
}
#agreementPage .inner #agreement .allAgree input + label strong {
  margin-left: 10px;
  font: bold 20px/1 Poppins;
  color: #444;
}
#agreementPage .inner #agreement .allAgree input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .allAgree input:checked + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .allAgree input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 3px;
  font-size: 40px;
  color: darkcyan;
}
#agreementPage .inner #agreement .agreeMain {
  margin-top: 50px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label i {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label span {
  margin-left: 10px;
  font: bold 16px/1 Poppins;
  color: darkcyan;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label p {
  margin-left: 10px;
  font: 16px/1 Poppins;
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 3px;
  font-size: 35px;
  color: darkcyan;
}
#agreementPage .inner #agreement .agreeMain .agree:nth-of-type(3) .agreeBox span {
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree:nth-of-type(3) .agreeText {
  margin-bottom: 10px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText::-webkit-scrollbar-thumb {
  width: 5px;
  height: 50px;
  background-color: #888;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText p {
  padding: 10px;
  font: 12px/1.3 Poppins;
  color: #444;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li {
  display: flex;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label i {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label p {
  margin-left: 10px;
  font: 12px/1 Poppins;
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -5px;
  font-size: 20px;
  color: darkcyan;
}
#agreementPage .inner #agreement #agreeNext {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Poppins;
  border: 2px solid rgb(79, 189, 156);
  color: rgb(79, 189, 156);
  background-color: #fff;
  cursor: pointer;
}

#joinPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#joinPage h3 {
  font: bold 30px/1 Poppins;
  color: #444;
}
#joinPage .step {
  margin: 50px 0 50px 0;
}
#joinPage .step ul {
  display: flex;
  justify-content: center;
}
#joinPage .step ul li {
  margin-right: 100px;
}
#joinPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#joinPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#joinPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#joinPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#joinPage .step ul li.on i {
  color: rgb(79, 189, 156);
}
#joinPage .step ul li.on::before {
  background-color: rgb(79, 189, 156);
}
#joinPage .inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#joinPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: darkcyan;
  font: bold 20px/50px Poppins;
  color: #fff;
}
#joinPage .inner #join {
  margin: 50px;
  text-align: left;
}
#joinPage .inner #join h3 {
  font: bold 18px/50px Poppins;
  color: #444;
}
#joinPage .inner #join .joinText {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
#joinPage .inner #join .joinText .joinId {
  border: 1px solid #ddd;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}
#joinPage .inner #join .joinText .joinId dl {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#joinPage .inner #join .joinText .joinId dl dt {
  width: 20%;
  font: 13px/60px Poppins;
}
#joinPage .inner #join .joinText .joinId dl dd {
  width: 80%;
  display: flex;
  font: 12px/60px Poppins;
}
#joinPage .inner #join .joinText .joinId dl dd span input {
  border: none;
  font: 12px/60px Poppins;
  width: 120px;
  padding-left: 5px;
}
#joinPage .inner #join .joinText .joinId dl dd span #joinIdSelect {
  border: 1px solid #ddd;
  margin-left: 5px;
  font: 12px/60px Poppins;
  color: #444;
}
#joinPage .inner #join .joinText .joinId dl dd .idTest {
  margin-left: 20px;
  border-left: 1px solid #ddd;
}
#joinPage .inner #join .joinText .joinId dl dd .idTest a {
  margin-left: 20px;
  display: block;
  font: bold 12px/60px Poppins;
  color: rgb(10, 153, 117);
}
#joinPage .inner #join .joinText .joinPw, #joinPage .inner #join .joinText .joinPw2 {
  border: 1px solid #ddd;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}
#joinPage .inner #join .joinText .joinPw dl, #joinPage .inner #join .joinText .joinPw2 dl {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#joinPage .inner #join .joinText .joinPw dl dt, #joinPage .inner #join .joinText .joinPw2 dl dt {
  width: 20%;
  font: 13px/60px Poppins;
}
#joinPage .inner #join .joinText .joinPw dl dd, #joinPage .inner #join .joinText .joinPw2 dl dd {
  width: 80%;
  display: flex;
  font: 12px/60px Poppins;
}
#joinPage .inner #join .joinText .joinPw dl dd span input, #joinPage .inner #join .joinText .joinPw2 dl dd span input {
  border: none;
  font: 12px/60px Poppins;
  padding-left: 5px;
}
#joinPage .inner #join #joinNext {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Poppins;
  border: 2px solid rgb(79, 189, 156);
  color: rgb(79, 189, 156);
  background-color: #fff;
  cursor: pointer;
}

#resultPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#resultPage h3 {
  font: bold 30px/1 Poppins;
  color: #444;
}
#resultPage .step {
  margin: 50px 0 50px 0;
}
#resultPage .step ul {
  display: flex;
  justify-content: center;
}
#resultPage .step ul li {
  margin-right: 100px;
}
#resultPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#resultPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#resultPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#resultPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#resultPage .step ul li.on i {
  color: rgb(79, 189, 156);
}
#resultPage .step ul li.on::before {
  background-color: rgb(79, 189, 156);
}
#resultPage .inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#resultPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: darkcyan;
  font: bold 20px/50px Poppins;
  color: #fff;
}
#resultPage .inner p {
  margin: 50px 0 50px 0;
  font: bold 25px/50px Poppins;
}
#resultPage .inner article {
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
}
#resultPage .inner article div {
  width: 50%;
  height: 300px;
}
#resultPage .inner article div img {
  margin-top: 20px;
  width: 250px;
}
#resultPage .inner article div:nth-of-type(1) {
  border-radius: 20px 0 0 0;
  background-color: rgb(157, 217, 241);
}
#resultPage .inner article div:nth-of-type(2) {
  border-radius: 0 0 20px 0;
  background-color: rgb(248, 206, 128);
}
#resultPage .inner article div:nth-of-type(2) img {
  margin-top: 45px;
}
#resultPage .inner article div p {
  margin: 0;
  font: bold 18px/50px Poppins;
  color: #fff;
  cursor: pointer;
}
#resultPage .inner a {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Poppins;
  border: 2px solid rgb(79, 189, 156);
  color: rgb(79, 189, 156);
  background-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  header .inner h1 {
    text-align: left;
    left: 40px;
    top: -30px;
  }
  header .inner h1 a img {
    width: 150px;
  }
  header .inner nav {
    display: block;
    right: none;
    top: 15px;
    left: 40px;
  }
  header .inner .gnb {
    display: none;
  }
  header .inner .moBtn {
    display: block;
    position: absolute;
    right: 45px;
    top: -20px;
  }
  header .inner .moBtn a {
    position: absolute;
    right: 10px;
    transition: 0.5s;
  }
  header .inner .moBtn a img {
    width: 40px;
  }
  header .inner .moBtn a:nth-of-type(2) {
    opacity: 0;
    z-index: -1;
  }
  header .inner .moGnb {
    display: block;
    position: absolute;
    right: -150px;
    z-index: 20;
    background-color: #fff;
    width: 150px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 0 20px;
    overflow: hidden;
    padding: 10px 10px 50px 10px;
    transition: 0.5s;
  }
  header .inner .moGnb > li {
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
  }
  header .inner .moGnb > li::before {
    display: block;
    content: "";
    opacity: 0;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 15px;
    height: 8px;
    background-color: rgb(10, 153, 72);
    position: absolute;
    bottom: none;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transition: opacity 0.3s;
  }
  header .inner .moGnb > li:nth-of-type(6)::before {
    display: none;
  }
  header .inner .moGnb > li > a {
    border-radius: 10px 0 0 0;
    display: block;
    color: #444;
    font: bold 13px/30px Poppins;
    transition: all 0.3s;
    border-bottom: 1px solid rgb(10, 153, 117);
  }
  header .inner .moGnb > li:hover::before {
    opacity: 1;
  }
  header .inner .moGnb > li:hover > a {
    background-color: rgb(10, 153, 117);
    color: #fff;
  }
  header .inner .moGnb > li .sub {
    position: relative;
  }
  header .inner .moGnb > li .sub li {
    height: 0px;
    transition: all 0.3s;
    overflow: hidden;
  }
  header .inner .moGnb > li .sub li a {
    color: #777;
    font: 5px/40px Poppins;
    transition: all 0.5s;
    overflow: hidden;
  }
  header .inner .moGnb > li .sub li:hover a {
    color: rgb(10, 153, 72);
  }
  header .subBg {
    display: none;
  }
  #visual .frame .slideBtn {
    left: 2%;
    bottom: 20px;
  }
  #visual .frame .slideBtn > li {
    width: 10px;
    height: 10px;
  }
  #content {
    padding: 20px;
  }
  #content .inner {
    padding: 20px;
  }
  #content .inner .conBox1 {
    flex-direction: column;
  }
  #content .inner .conBox1 .con1 {
    width: 100%;
    border-radius: 20px;
    display: block;
    position: relative;
  }
  #content .inner .conBox1 .con1 .con1Img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #content .inner .conBox1 .con1 .con1Img img {
    width: 200px;
    opacity: 0.2;
  }
  #content .inner .conBox1 .con1 .con1Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
  }
  #content .inner .conBox1 .con1 .con1Text h3 {
    padding: 10px;
    font: 25px/1 Poppins;
  }
  #content .inner .conBox1 .con1 .con1Text img {
    opacity: 0.2;
  }
  #content .inner .conBox1 .con2 {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    position: relative;
  }
  #content .inner .conBox1 .con2 img {
    width: 200px;
    opacity: 0.4;
    position: absolute;
    right: 5%;
    top: 0;
  }
  #content .inner .conBox2 {
    flex-direction: column;
  }
  #content .inner .conBox2 .con3 {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  #content .inner .conBox2 .con3 h3 {
    padding: 10px;
  }
  #content .inner .conBox2 .con4 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .inner h1 {
    left: 10px;
  }
  header .inner nav {
    left: 10px;
  }
  header .inner .moBtn {
    right: 20px;
  }
  header .subBg {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
