*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.hidden{
    position: absolute;
    top: -5000px;
    opacity: 0;
    z-index: -500;
}

$font1 : Poppins;
body{overflow-x: hidden;}
header{
    border-top: 5px solid rgb(10, 153, 117);
    width: 100vw;
    padding-top: 50px;
    .inner{
        max-width: 1000px;
        margin: 0 auto;
        position: relative;

        h1{
            position: relative;
            top: -20px;
            text-align: center;
            a{
                color: #000;
            }
        }
        nav{
            position: absolute;
            right: 0px;
            top: 0px;
            ul{
                display: flex;
                li{          
                    width: 75px;
                    display: flex;
                    justify-content: space-around;          
                    
                    &:nth-of-type(1){
                        position: relative;
                        &::after{
                            position: absolute;
                            top: 17px;
                            right: 0;
                            display: block;
                            content: '';
                            width: 5px;
                            height: 5px;
                            background-color: #ddd;
                            border-radius: 5px;
                        }        
                    }
                    a{
                        color: #777;
                        font: 12px/40px $font1;
                    }
                }
                
            }
        }

        .gnb{
            position: relative;
            z-index: 7;
            display: flex;
            width: 100%;
            justify-content: space-between;

            >li{
                width: calc(100% / 6);
                height: 40px;
                text-align: center;
                position: relative;
               
                &::before{
                    display: block;
                    content: '';
                    opacity: 0;
                    clip-path: polygon(50% 0, 100% 100%, 0 100%);
                    width: 15px;
                    height: 8px;
                    background-color: rgb(10, 153, 72);
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: opacity 0.3s;
                }
                a{
                    color: #000;
                    font: bold 18px/40px $font1;
                    transition: color 0.3s;
                }
                &:hover{
                    &::before{
                        opacity: 1;
                    }
                    a{
                        color: rgb(10, 153, 72);
                    }
                }
                .sub{
                    position: relative;
                    padding-top: 10px;
                    
                    li{
                        height: 0;
                        transition: all 0.3s;
                        overflow: hidden;
                        a{
                            color: #777;
                            font: 14px/40px $font1;
                            transition: all 0.5s;
                            overflow: hidden;
                        }
                        &:hover{
                            a{
                                color: rgb(10, 153, 72);
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .subBg{
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 0px;
        border-top: 1px solid #ddd;
        background-color: #fff;
        transition: height 0.3s;
        box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.2);
    }
}
footer{
    width: 100vw;
    height: 80px;
    background-color: rgb(3, 43, 33);

    .inner{
        padding: 10px;
        margin: 0 auto;
        max-width: 1000px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .footerMenu{
            ul{
                display: flex;
                height: 40px;
                align-items: center;
                gap: 15px;
                li{
                    color: #bbb;
                    font: 11px/1 '맑은 고딕';
                   &:nth-of-type(1){
                    padding-right: 18px;
                    border-right: 1px solid #bbb;
                   } 
                }
            }
        }
        .footerMenu2{
           
            ul{
                height: 40px;
                display: flex;
                align-items: center;
                gap: 15px;
                li{
                    color: #bbb;
                    font: 11px/1 '맑은 고딕';
                }
            }
        }
    }
}